mobile_src/Mobile/Mobile/Web References/floading/RemoteAccessPoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetWorkflow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="compilationRequestId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="service" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkflowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkflowResult" type="tns:WorkflowInformations" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WorkflowInformations">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="status" type="tns:ResultStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="tns:WorkflowDescription" />
          <s:element minOccurs="0" maxOccurs="1" name="publicationDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResultStatus">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="WRONG_COMPILATION_REQUEST_ID" />
          <s:enumeration value="WRONG_USERNAME_OR_SERVICE" />
          <s:enumeration value="WRONG_TOKEN" />
          <s:enumeration value="ALREADY_COMPILED" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="WorkflowDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NodesSchema" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtendedTypesSchema" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EdgesDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RenderingDocument" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendFilledDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="compilationRequestId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="service" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFilledDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendFilledDocumentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWorkflowSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkflow" />
  </wsdl:message>
  <wsdl:message name="GetWorkflowSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="SendFilledDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:SendFilledDocument" />
  </wsdl:message>
  <wsdl:message name="SendFilledDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:SendFilledDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="RemoteAccessPointSoap">
    <wsdl:operation name="GetWorkflow">
      <wsdl:input message="tns:GetWorkflowSoapIn" />
      <wsdl:output message="tns:GetWorkflowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFilledDocument">
      <wsdl:input message="tns:SendFilledDocumentSoapIn" />
      <wsdl:output message="tns:SendFilledDocumentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RemoteAccessPointSoap" type="tns:RemoteAccessPointSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorkflow">
      <soap:operation soapAction="http://tempuri.org/GetWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFilledDocument">
      <soap:operation soapAction="http://tempuri.org/SendFilledDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RemoteAccessPointSoap12" type="tns:RemoteAccessPointSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorkflow">
      <soap12:operation soapAction="http://tempuri.org/GetWorkflow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFilledDocument">
      <soap12:operation soapAction="http://tempuri.org/SendFilledDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteAccessPoint">
    <wsdl:port name="RemoteAccessPointSoap" binding="tns:RemoteAccessPointSoap">
      <soap:address location="http://localhost:49746/RemoteAccessPoint.asmx" />
    </wsdl:port>
    <wsdl:port name="RemoteAccessPointSoap12" binding="tns:RemoteAccessPointSoap12">
      <soap12:address location="http://localhost:49746/RemoteAccessPoint.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>